@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>This is an updated view</h1>

    <div>
        <a href="/Booking" class="btn btn-primary">Booking API</a>

        <a href="/Coordinator" class="btn btn-primary">Coordinator API</a>

        <a href="/Coupon" class="btn btn-primary">Coupon API</a>

        <a href="/Destination" class="btn btn-primary">Destination API</a>

        <a href="/User" class="btn btn-primary">User API</a>
    </div>
</div>
