@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <h3 class="text-danger">
        An Error occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <h5>In case any urgent, please contact us on info@dotnettutorials.net</h5>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}